<h2>Post View</h2>
<div>
  <ul class="postlist">
    <li>
        <div class="container">
            <form method="POST" >
                <div class="row">
                    <div class="col-12">
                            <input type="textbox"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 bg-dark">
                        <button class="navbar-toggler" type="submit">
                                <span class="text-muted">Post</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>
    <li *ngFor="let p of postss; let i = index " >
        <div class="container">
            <div class="row">
              <div class="col-9 bg-primary">
                  <span>Userid:{{p.user_id}}(profilepic)</span>
              </div>
              <div class="col bg-primary">
                  <span>Date:{{p.post_date}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col bg-danger">
                 <span class="content">Contents:{{p.contents_txt}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col bg-primary">
                  <span>ContentsPic:{{p.contents_pic}}</span>
              </div>
              <div class="col-5 bg-secondary">
                  <span>likelist:{{p.like_list}}</span>
              </div>
              <div class="col bg-secondary">
                  <span>Postid:{{p.post_id}}</span>
              </div>
            </div>
            <div class="row">
                <div class="col bg-danger">
                        <div class="pos-f-t">
                            <div class="collapse" [attr.id]="'navbarToggleExternalContent'+i">
                                <div class="bg-dark p-4">
                                <h4 class="text-white">Collapsed content</h4>
                                <span class="text-muted">Toggleable via the navbar brand.</span>
                                </div>
                            </div>
                            <nav class="navbar navbar-dark bg-dark">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"  [attr.data-target]="'#navbarToggleExternalContent'+i" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span>View Pics</span>
                                </button>
                            </nav>
                        </div>
                </div>
            </div>
          </div>
        </li>
  </ul>
</div>