<form>
  <div class="form-group">
    <img src='{{user.profilePic}}' alt="profile pic" />
  </div>

  <div *ngIf='isInEditMode' class="form-group">
    <label for='profilePicInput'>New profile pic:</label>
    <input #profilePic id='profilePicInput' type="file" class="form-control-file">
  </div>

  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input id='firstName' [ngClass]="{'form-control': isInEditMode, 'form-control-plaintext': !isInEditMode}" value='{{user.firstName}}' [readonly]='!isInEditMode'>
  </div>

  <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input id='lastName' [ngClass]="{'form-control': isInEditMode, 'form-control-plaintext': !isInEditMode}" value='{{user.lastName}}' [readonly]='!isInEditMode'>
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input id="email" type='email' [ngClass]="{'form-control': isInEditMode, 'form-control-plaintext': !isInEditMode}" value='{{user.email}}' [readonly]='!isInEditMode'>
  </div>

  <div class="form-group">
    <label for="city">Lair City:</label>
    <input id="city" [ngClass]="{'form-control': isInEditMode, 'form-control-plaintext': !isInEditMode}" value='{{user.lairCity}}' [readonly]='!isInEditMode'>
  </div>

  <div class="form-group">
    <label for="country">Lair Location:</label>
    <input id="country" [ngClass]="{'form-control': isInEditMode, 'form-control-plaintext': !isInEditMode}" value='{{user.lairCountry}}' [readonly]='!isInEditMode'>
  </div>

  <button type='button' class='btn' (click)='isInEditMode ? submitProfileChanges() : editProfile()'>{{isInEditMode ? 'Submit Changes': 'Edit Profile'}}</button>
</form>