.login{
    margin-top: 75px;
}

.fill { 
    min-height: 100%;
}

.appparent{
    height: 100%;
    
}

.signup{
    padding-top: 100px;
    color: #e7dfdd;
}

.logo{
    padding-top: 200px;
    padding-left: 60px;
}

.form-ele{
    padding-right: 2px;
}

.dropdown-ele{
    padding: 10px;
}

.dropdown-size{
    width: 500px;
}

#forgotLogin{
    float:right;
    margin-right: 55px;
    color: #A239ca;
}

