<div class="container appparent fill bg">
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 logo">
      <img width="300" alt="Angular Logo" src="{{imageSource}}">

    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
      <div class="container ">
        <div class="row justify-content-end">
          <div class="form-inline login">
            <div class="input-group form-ele">
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.email" aria-describedby="basic-addon1">
            </div>
            <div class="input-group form-ele">
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" aria-describedby="basic-addon1"
                (keydown.enter)="loginUser()">
            </div>
            <button (click)="loginUser()" class="btn btn-primary" type="button">Log In</button>

          </div>
          <div *ngIf="loginFailure" class="alert alert-danger alert-dismissible">
            <strong>Authentication failed.</strong>
          </div>



        </div>
        <a routerLink="../forgotlogin" id="forgotLogin">Forgot Login</a>
        <div class="row signup">
          <div class="dropdown">
            <h2>Connect and collaborate with other Villains today!</h2>

            <button (click)="showRegisterToggle()" class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Join Now!
              </button>

            <div *ngIf="showRegister">
            <app-register></app-register>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>