<div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Token" [(ngModel)]="token" aria-describedby="basic-addon1">
      </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="New Password" [(ngModel)]="password" aria-describedby="basic-addon1">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Confirm Password" [(ngModel)]="passwordConfirm" aria-describedby="basic-addon1">
  </div>
  <div *ngIf="requiredFieldsMissing" class="alert alert-danger">
      <strong>All fields are required</strong>
    </div>
    <div *ngIf="nonMatchingPasswords" class="alert alert-danger">
        <strong>Passwords do not match</strong>
      </div>
  <button (click)="setNewPassword()" class="btn btn-primary" type="button" >Submit</button>
</div>           